

@mixin flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.message{
    display: flex;
    justify-content: center;
    background-color:green;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    & p{
        color:white;
        margin: 0;
        font-size: small;
    }
}
.messageError{
    display: flex;
    justify-content: center;
    background-color:brown;
    padding: 5px 10px;
    border-radius: 5px;
   
    & p{
        color:white;
        margin: 0;
        font-size: small;
        & span{
            margin-left: 10px;
        }
    }
}
.changePasswordContainer{
    @include flex();
    padding: 20px 150px;
    background-color:rgb(248, 248, 248) ;
    box-shadow:1px 1px 5px 0.5px rgb(190, 190, 190);
    & .passwordWrapper{
        @include flex();
        & .inputdiv{
            @include flex();
            & h6{
                color: brown;
                text-align: center;
                width: 100%;
            }
            & input{
                border-radius: 5px;
                outline: none;
                border: none;
                background-color:rgb(221, 221, 221);
                padding:5px 10px;
                font-size: medium;
                box-shadow:1px 2px 0.8px rgb(202, 202, 202);
              
            }
            & input::placeholder{
                font-size: smaller;
                color: brown;
                
            }
            & .btnUpdate{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                width: 100%;
                & button{
                    background-color:brown;
                    color:white;
                    border:none;
                    padding: 2px 5px;
                    border-radius: 5px;
                   
                    
                }
            }
        }
    }
}