*{
    padding: 0;
    margin: 0;
}
.navContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    
}
.navWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
}

.navWrapper>h1{
    font-weight: 900;
    font-size: 40px;
    margin-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}
.logo{
    height: 200px;
    width: 300px;
    cursor: pointer;
    color:#000000;
    z-index:1;
}
.navItems{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 60px;
}
.navButtons{
    border: none;
    background-color: #4158D0;
    background: #000000;
    color:white;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width:360px) and (max-width:765px) {
    .navWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
       
    }
    .logo{
        width: 250px;
        height: 250px;

    }
    
}