*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.popularContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 50px;
    padding:30px 0px;
   
   
}
.heading{
    width: 100%;
    max-width: 1300px;
    
}
.heading>h1{
    float: left;
}
.popularWrapper{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-bottom: 10px;
    padding: 20px;

}
.popularWrapper::-webkit-scrollbar{
    display: none;
}
.popular{
    width:310px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    gap: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popular>img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
.popularText{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.popularText>h3{
    font-weight: 800;
    font-size: 20px;
}
.popularText>p{
    color: gray;
}
.popularRating{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
}
.popularRating>p{
    color: green;
    font-weight: 700;
    font-size: 18px;
}
.popularRating>span{
    background-color: green;
    color:white;
    padding: 5px;
    font-size: small;
    border-radius: 4px;
}




@media screen and (min-width:360px) and (max-width:765px){
    .popularWrapper{
        min-width: 100%;
    }
    .popular{
        min-width: 100%
    }
    .popular>img{
        min-width: 100%
    }
}