@mixin flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorcontainer{
    width: 100%;
    height: 100vh;
    @include flexbox();
    & .errorwrapping{
        width: 100%;
        height: 100vh;
        @include flexbox();
        & .error{
            width: 100%;
            height: 100vh;
            @include flexbox();
            & img{
                width: 70%;
                height: 100vh;
            }
        }
    }
}