.paymentconfirmContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  gap: 20px;
}

.paymentconfirmContainer .paymentconfirmWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  gap: 20px;
}

.paymentconfirmContainer .paymentconfirmWrapper .restAndUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
}

.paymentconfirmContainer .paymentconfirmWrapper .restAndUser .restDetailsBox p {
  margin-bottom: 2px;
}

.paymentconfirmContainer .paymentconfirmWrapper .restAndUser .userDetailsBox p {
  margin-bottom: 2px;
}

.paymentconfirmContainer .paymentconfirmWrapper .itemListBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paymentconfirmContainer .paymentconfirmWrapper .itemListBox .listMenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.paymentconfirmContainer .paymentconfirmWrapper .itemListBox .listMenu p {
  width: 100%;
  font-weight: bold;
}

.paymentconfirmContainer .paymentconfirmWrapper .itemListBox .itemDetails {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.paymentconfirmContainer .paymentconfirmWrapper .itemListBox .itemDetails p {
  width: 100%;
}

.paymentconfirmContainer .paymentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  gap: 20px;
}

.paymentconfirmContainer .paymentBox .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.paymentconfirmContainer .paymentBox .total .line {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.paymentconfirmContainer .paymentBox .total .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.paymentconfirmContainer .paymentBox .total .subtotal h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.paymentconfirmContainer .paymentBox .total .subtotal h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.paymentconfirmContainer .paymentBox .total .subtotal span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paymentconfirmContainer .paymentBox .paymentBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.paymentconfirmContainer .paymentBox .paymentBtn .payBtn {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  background-color: green;
}
/*# sourceMappingURL=Orderconfirm.css.map */