@mixin flex{
    display: flex;
   align-items: center;
   
}

.profileContainer{
    @include flex();
    justify-content:center;
     padding: 50px 0px;
     width: 100%;
     box-sizing: border-box;
     margin: 50px 0px;
     padding: 50px 0px;
    & .Profilewrapper{
        @include flex();
        justify-content:center;
        border-radius: 5px;
        width: 100%;
        gap: 0px;
       
        & .Sidelist{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
           background-color: rgb(243, 243, 243);
            border-radius: 5px;
            flex-direction: column;   
            box-shadow:1px 1px 5px 0.5px rgb(190, 190, 190);
            width:20%;         
            & .iconlist{
               margin: 0;
               width:100%;
               display: flex;
               align-items: center;
               justify-content: center;
                & .Profilepic{
                    width: 120px;
                    height: 120px;
                    color: rgb(235, 176, 0);
                 padding: 20px 0px;
                    margin: 0;
                }
                
            }
        }
        & .Mainlist{
        display: flex;
        align-items: center;
        border-radius: 5px;
        justify-content:center;    
         width:80%;     
        }

    }

}