
@mixin flexBox {
    margin: 0px;
    display: flex;
}
@mixin buttonStyle {
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}
@mixin hoverEffect{
    color: white;
    cursor: pointer;
    background-color:brown;
    padding: 5px 10px;
}
.sidelistItem{
    @include flexBox();
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;  
    padding:30px 0px;
    width: 100%;
    margin-right: 0;
    & .Item{
        @include flexBox();
        justify-content: center;
        cursor: pointer;
        padding: 5px;
    }
        & .Active{
            @include flexBox();
            justify-content: center;
            @include hoverEffect();       
        }
       
}