@mixin flex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.profileDetails{
   @include flex();
 
   & .profileDetailsWrap{
    @include flex();
  
    & .userDetails{
        @include flex();
        flex-direction: column;
        gap: 40px;
       & h6{
        background-color: brown;
        padding:2px 10px;
        border-radius: 5px;
        color:white;
       }
       & p{
        font-size: smaller;
       }
       & .btns{
        @include flex();
        gap: 30px;
        & .btnUser{
            border: none;
            padding: 2px 5px;
            border-radius: 5px;
            background-color: black;
            color:white;
        }
    }
    & .user{
        & p{
           @include flex();
           & span{
           display: flex;
           & .icontrash{
            cursor: pointer;
            color: brown;
           }

               
               & .address{
                   padding: 0px 10px;
                   display: flex;
                   justify-content: center;
                   align-items: flex-start;
                   flex-direction: column;
                   font-size: medium;
                 
                   & p{
                       margin: 0;
                       right: 0;
                       & span{
                           padding: 0px 10px;
                        }
                    }
                }
            }
                
        }
    }
    }
   }
}